.navbar {
  --bs-navbar-toggler-icon-bg: url(https://img.icons8.com/?size=100&id=83195&format=png&color=FFFFFF) !important;
}

@media (max-width: 990px) {
  .nav-link {
    margin-left: 12px;
  }
}

@media (max-width: 420px){
  .navbar-brand svg {
    width: 110px;
    height: 40px;
  }
}
